/*-------------NAVBAR----------------*/
nav {
  height: 100px;
  background-color: lightblue;
  box-shadow: 0 2px 2px 2px rgba(211, 211, 211, 0.8);
}

nav li {
  display: inline-block;
  padding-right: 20px;
  line-height: 100px;
  vertical-align: middle;
}

.nav-ul {
  padding-left: 20px;
}

.link {
  font-size: 1.5em;
  color: white;
}

.header {
  margin: 40px 0;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3em;
}

.center {
  text-align: center;
}


/*-------------HOMEPAGE------------------*/

.list {
  padding: 0;
  margin-top: 75px;
}

.list-item {
  list-style-type: none;
  text-align: center;
  margin-bottom: 40px;
}

.list-item img {
  margin: 0 auto;
  width: auto;
  height: 300px;
}

.list-item-desc {

}

.list-item img:hover {
  box-shadow: 2px 2px 2px 2px rgba(111, 111, 111, 0.8) ;
  cursor: pointer;
}

/*-------------CART------------------*/

.cart {
  margin-left: 20px;
}

.cart-item {
  font-size: 1em;
  margin-bottom: 10px;
}

.cart-item button {
  margin-left: 10px;
}

.btn {
  padding: 3px 6px;
}



/*-------------CART------------------*/
@media (min-width: 600px) {
  .nav-ul {
    padding-left: 40px;
  }

  .cart {
    margin-left: 40px;
  }
  
  .cart-item {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .btn {
    padding: 6px 12px;
  }

  .text {
    columns: 2;
  }
}






